<%- include("../includes/head.ejs") %> 
<%- include("../includes/navigation") %>

<link rel="stylesheet" href="/css/product.css" />
</head>
<main>
  <h2>Soy el checkout</h2>
</main>

<%- include("../includes/end.ejs") %>